There is no color data set so we will create it

In [37]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.patches as patches

In [52]:
basic_colors = pd.read_csv('BasicColors.csv')
basic_colors

      Name    R    G    B          RGB
0    Black    0    0    0        0,0,0
1    White  255  255  255  255,255,255
2      Red  255    0    0      255,0,0
3   Orange  255  165    0    255,165,0
4     Blue    0    0  255      0,0,255
5   Yellow  255  255    0    255,255,0
6     Grey  128  128  128  128,128,128
7    Green    0  128    0      0,128,0
8   Purple  128    0  128    128,0,128
9    Brown  165   42   42    165,42,42
10    Pink  255  192  203  255,192,203

In [38]:
def create_random_rgb():
    rgb = np.random.choice(basic_colors['RGB'].unique())
    rgb = rgb.split(',')
    
    for index, color in enumerate(rgb):
        rgb[index] = int(color)
        
    rgb = tuple(rgb)
    return rgb

In [54]:
color = create_random_rgb()
color

(255, 165, 0)

In [55]:
 def get_color_name(color):
    color_name = basic_colors[
        (basic_colors['R'] == color[0]) &
        (basic_colors['G'] == color[1]) & 
        (basic_colors['B'] == color[2])
    ]
    return color_name

In [56]:
# color = create_random_rgb()
color_name = get_color_name(color)
color_name

     Name    R    G  B        RGB
3  Orange  255  165  0  255,165,0

In [57]:
size = np.arange(1000)
colors = pd.DataFrame()

for i in size:
    color = create_random_rgb()
    color_name = get_color_name(color)
    colors = colors.append(color_name)

In [58]:
colors

      Name    R    G    B          RGB
9    Brown  165   42   42    165,42,42
8   Purple  128    0  128    128,0,128
8   Purple  128    0  128    128,0,128
1    White  255  255  255  255,255,255
4     Blue    0    0  255      0,0,255
..     ...  ...  ...  ...          ...
8   Purple  128    0  128    128,0,128
1    White  255  255  255  255,255,255
2      Red  255    0    0      255,0,0
10    Pink  255  192  203  255,192,203
0    Black    0    0    0        0,0,0

[1000 rows x 5 columns]

In [59]:
colors.to_csv('colors_dataset.csv')